name: Release

on:
  push:
    branches: [ "mio" ]
  pull_request:
    branches: [ "mio" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose --release
    - name: Create Release
      id: create_release
      uses: actions/create-release@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref_name }}
        release_name: Release ${{ github.ref_name }}
        draft: false 
        prerelease: false

    - name: Upload Release Asset
      id: upload-release-asset
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        asset_path: ./target/release/rust_cgi # 要上传文件
        name: Release ${{ github.ref_name }}
        overwrite: true
        tag_name: v1.0.0 
        files: |
          ./target/release/rust_cgi

