name: Release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Rust Toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: |
          x86_64-unknown-linux-musl
          x86_64-pc-windows-gnu
          
    - name: Install Cross Compile Dependencies
      run: |
        sudo apt update && sudo apt install -y --no-install-recommends \
            mingw-w64 gcc-mingw-w64-x86-64 \
            musl-tools \
            upx
        sudo rm -rf /var/lib/apt/lists/*

    - name: Build Linux x86_64 (Static)
      run: |
        cargo build --release --target x86_64-unknown-linux-musl
        upx --best target/x86_64-unknown-linux-musl/release/rust_cgi -o rust_cgi-linux-musl-amd64

    - name: Build Windows x86_64 (Static)
      run: |
        cargo build --release --target x86_64-pc-windows-gnu
        upx --best target/x86_64-pc-windows-gnu/release/rust_cgi.exe -o rust_cgi-windows-amd64.exe

    - name: Upload Release Asset
      id: upload-release-asset
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref_name }}
        name: Release ${{ github.ref_name }}
        files: |
          ./rust_cgi-linux-musl-amd64:rust_cgi-${{ github.ref_name }}-linux-musl-amd64
          ./rust_cgi-windows-amd64.exe:rust_cgi-${{ github.ref_name }}-windows-static-amd64.exe
        draft: false
        prerelease: false
        overwrite: true