name: Release

on:
  push:
    branches: [ "mio" ]
  pull_request:
    branches: [ "mio" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose --release
    - name: Upload Release Asset
      id: upload-release-asset
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref_name }}
        name: Release ${{ github.ref_name }}
        files: ./target/release/rust_cgi
        draft: false
        prerelease: false
        overwrite: true

